@{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <i class="fas fa-suitcase"></i>
    </div>
</body>
</html>
